body,
footer,
h1,
h2,
h3,
ul,
li,
ol,
div,
span,
article {
    font-family: "Microsoft YaHei", 微软雅黑
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #dedede;
}

h3,
time,
.fontGray
{
    color: #6b6b6b;
}

article {
    padding: 21px 10px 21px 11px;
    margin: 39px 28px 43px 22px;
    background-color: #ffffff;
    border-width: 1px 3px 3px 1px;
    border-style: solid;
    border-color: #848484;
}

#author {
    font-style: normal;
    white-space: nowrap;
    width: auto;
    display: inline-block;
    color: #6b6b6b;
}

#top {
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #333333;
}

.nav {
    list-style: none;
    float: right;
    color: #fff;
    text-align: cenrer;
    display: inline-block;
}

.nav li {
    float: left;
    margin: 0px 20px;
    height: 11px;
    line-height: 11px;
}

.nav li:before {
    content: "• ";
    color: black;
}

.logo {
    margin: 10px 0px 13px 40px;
}

.imgList li{
	list-style: none;
}
.picture {
    border: 1px solid #848484;
    width: 121px;
    height: 125px;
    -webkit - margin - start: 0; - webkit - margin - end: 0;
}


.picture img {
    margin: 0px;
    width: 100px;
    height: 81px;
    display: block;
    border:0px;
}

figure figcaptino{
	margin: 0px;
	padding:0px;
}