* {
    margin: 0px;
    padding: 0px;
    font-family: "微软雅黑";
}

body {
    background-color: #eee;
    border: 1px solid #999;
}

.sub,
.main,
.extra {
    float: left;
    min-height: 130px;
    border: 1px solid #999;
    box-sizing: border-box;
}

.sub {
    margin-left: -100%;
    width: 198px;
    background: #fff;
    padding: 20px;
}

.extra {
    margin-left: -160px;
    width: 118px;
    background: #fff;
}

.main {
    width: 100%;
    background: #fff;
}

.main-inner {
    margin-left: 240px;
    margin-right: 160px;
    min-height: 130px;
}