* {
    margin: 0;
    padding: 0;
    font-family: "Î¢ÈíÑÅºÚ"
}
img{
    width: 78px;
    height: 78px;
    border: 1px solid #999;
}
.left, .right, .main {
    float: left;
}
.left {
    width: 198px;
    background-color: #fff;
    margin-left:-100%;
    border: 1px solid #999;
    padding: 20px;
}
.left p{
    float: right;
}
.left img{
    /*padding: 20px;*/
    float: left;
}
.right {
    width: 118px;
    background-color: #fff;
    margin-left: -120px;
    border: 1px solid #999;
    overflow: auto;
}

.right li{
    list-style: none;
    padding: 20px;
}


.main {
    width:100%;
}

.wrap {
    margin-left: 220px;
    margin-right: 140px;
    border: 1px solid #999;
    box-sizing: content-box;
    background-color: #fff;
}
.content{
    padding: 20px;
    margin:20px;
    border: 1px solid #999;
    background-color: #eee;
    overflow: auto;
}
